[submodule "third_party/repos/MetaStuff"]
	path = third_party/repos/MetaStuff
	url = https://github.com/eliasdaler/MetaStuff
[submodule "third_party/repos/sol2"]
	path = third_party/repos/sol2
	url = https://github.com/ThePhD/sol2
	ignore = dirty
[submodule "third_party/repos/EntityPlus"]
	path = third_party/repos/EntityPlus
	url = https://github.com/jaynus/EntityPlus
[submodule "third_party/repos/FastNoiseSIMD"]
	path = third_party/repos/FastNoiseSIMD
	url = https://github.com/Auburns/FastNoiseSIMD
[submodule "toolchains"]
	path = toolchains
	url = https://github.com/mosra/toolchains
[submodule "third_party/repos/spdlog"]
	path = third_party/repos/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/repos/ecst"]
	path = third_party/repos/ecst
	url = https://github.com/SuperV1234/ecst
[submodule "third_party/repos/cereal"]
	path = third_party/repos/cereal
	url = https://github.com/xw0/cereal
[submodule "https:/github.com/SuperV1234/vrm_pp"]
	path = third_party/repos/vrm_pp
	url = https://github.com/SuperV1234/vrm_pp
[submodule "https:/github.com/SuperV1234/vrm_core"]
	path = third_party/repos/vrm_core
	url = https://github.com/SuperV1234/vrm_core
[submodule "https:/github.com/SuperV1234/vrm_cmake"]
	path = third_party/repos/vrm_cmake
	url = https://github.com/SuperV1234/vrm_cmake

[submodule "third_party/repos/vrm_core"]
	path = third_party/repos/vrm_core
	url = https://github.com/SuperV1234/vrm_core
[submodule "third_party/repos/vrm_pp"]
	path = third_party/repos/vrm_pp
	url = https://github.com/SuperV1234/vrm_pp
[submodule "third_party/repos/vrm_cmake"]
	path = third_party/repos/vrm_cmake
	url = https://github.com/SuperV1234/vrm_cmake
